---
import About from "../../components/About.astro";
import Classes from "../../components/Classes.astro";
import Cover from "../../components/Cover.astro";
import Layout from "../../layouts/Layout.astro";
import Class from "../../components/Class.astro";
import classes from "../../data/classes.json";
import yoga from "../../assets/classes-section/yoga.jpg";
import barre from "../../assets/classes-section/barre.jpg";
import ballet from "../../assets/classes-section/ballet.jpg";
import Events from "../../components/Events.astro";
import Memberships from "../../components/Memberships.astro";
import MembershipsData from "../../data/memberships-data/memberships.json";
import Footer from "../../components/Footer.astro";
import { Toaster } from "sonner";

import { getRelativeLocaleUrl } from "astro:i18n";
const lang = Astro.currentLocale || "es";

const images = [yoga, barre, ballet];
---

<Layout
  title="Home"
  description="Discover Laira Balance Studio, a space dedicated to wellness and elegance. Explore our yoga, barre, and ballet classes, exclusive events, and memberships designed for your physical and mental balance. Live with purpose and find calm in every movement."
>
  <main class="!overflow-visible">
    <Cover />
    <About language="en" />
    <Classes />
    {
      classes.map((classItem, index) => (
        <Class
          key={index}
          id={classItem.className}
          className={classItem.class}
          imageSrc={images[index]}
          imageAlt={classItem.altImage.en}
          Name={classItem.className}
          classText={classItem.classText.en}
          classHref={getRelativeLocaleUrl(lang, classItem.classHref)}
          align="left"
        />
      ))
    }
    <Events />
    {
      MembershipsData.map((membership, index) => (
        <Memberships
          id={`memberships_${index + 1}`}
          key={index}
          title={membership.title.en}
          subtitle={membership.subtitle.en}
          button={membership.button.en}
          footer={membership.footer.en}
          image={membership.image}
        />
      ))
    }
  </main>
</Layout>
