---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
const {
  className,
  imageSrc,
  imageAlt,
  Name,
  classText,
  classHref = "/",
  align = "left",
  id = "",
} = Astro.props;
---

<section
  id={id}
  class=`${className} bg-secondary min-h-screen md-vertical:min-h-0 md-vertical:h-auto md-vertical:py-20 w-full mt-10 md:mt-0 ${align === "left" ? "lg:text-end" : "text-start"}`
>
  <div class="flex md:flex-row flex-col items-end justify-end">
    <div
      class=`flex flex-col px-8 gap-6 w-full lg:w-1/2 pb-8  ${align === "left" ? "order-1" : "md:order-2"}`
    >
      <div class="flex flex-col gap-2">
        <h2 class="text-6xl text-black font-bold italic w-full fade-up-item">
          {Name}
        </h2>
        <div
          class=`line h-[2px] bg-black w-0 transition-all duration-300 ease-out ${align === "left" ? "lg:ml-[10%]" : "mr-[10%] "}`
        >
        </div>
      </div>

      <p
        class=`text-sm lg:text-base fade-up-item w-[95%]${align === "left" ? "mr-[5%]" : "lg:ml-[5%]"}`
      >
        {classText}
      </p>
      <a
        href={classHref}
        class=`darkPink py-2 px-4 w-fit no-underline fade-up-item ${align === "left" ? "lg:self-end" : "self-start"} rounded-full  `
        >{t("home.classes.more")}</a
      >
    </div>
    <Image
      src={imageSrc}
      alt={imageAlt}
      height={1920}
      width={1080}
      quality={80}
      id={`class-image-${id}`}
      class=`object-cover scale-90 md:scale-100 transition-transform duration-300 ease-out md-vertical:aspect-square md-vertical:h-fit lg:h-[100dvh] w-full md:w-1/2 ${align === "left" ? "order-2" : "md:order-1"}`
    />
  </div>
</section>

<script is:inline define:vars={{ imageId: `class-image-${id}` }}>
  const imageElement = document.getElementById(imageId);
  const lineElements = document.querySelectorAll(".line");

  lineElements.forEach((lineElement) => {
    const lineObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("w-0");
            entry.target.classList.add("w-[90%]");
            lineObserver.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.5 },
    );
    lineObserver.observe(lineElement);
  });

  // Observer for the image element
  if (imageElement) {
    const imageObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("scale-90");
            entry.target.classList.add("scale-100");
            imageObserver.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.5 },
    );
    imageObserver.observe(imageElement);
  }

  // Observer for the line element
  if (lineElement) {
    const lineObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("w-0");
            entry.target.classList.add("w-[90%]");
            lineObserver.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.5 },
    );
    lineObserver.observe(lineElement);
  }
</script>
