---
import Logo from "../assets/footer/logo.svg";
import Logo_sm from "../assets/footer/logo_sm.svg";
import Phone from "../assets/icons/phone.svg";
import Mail from "../assets/icons/mail.svg";
import Location from "../assets/icons/location.svg";
import Instagram from "../assets/icons/instagram.svg";
import Clock from "../assets/icons/clock.svg";
import Form from "./helpers/Form.jsx";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);

const lang = Astro.currentLocale || "es";
const homeURL = getRelativeLocaleUrl(lang, "/");
const aboutURL = getRelativeLocaleUrl(lang, "about");
const scheduleURL = getRelativeLocaleUrl(lang, "schedule");
const eventsURL = getRelativeLocaleUrl(lang, "events");
const membershipsURL = getRelativeLocaleUrl(lang, "pricing#prices_memberships");
const boutiqueURL = getRelativeLocaleUrl(lang, "/");
---

<section
  id="footer"
  class="min-h-[100dvh] border-t-[0.5px] border-darkPink text-secondary bg-pinkCustom w-full px-8 lg:px-10 relative z-50"
>
  <div class="flex flex-col min-h-screen justify-between pt-32">
    <div
      class="flex flex-col md-vertical:flex-col lg:flex-row justify-normal gap-7 lg:justify-between text-base"
    >
      <div
        class="flex flex-col md:flex-row w-full lg:w-fit gap-7 md:justify-between"
      >
        <div class="flex flex-col gap-2 text-secondary">
          <a class="link-underline" href={homeURL}>Home</a>
          <a class="link-underline" href={aboutURL}>{t("footer.aboutus")}</a>
          <a class="link-underline" href={scheduleURL}
            >{t("footer.schedules")}</a
          >
          <a class="link-underline" href={eventsURL}>{t("footer.events")}</a>

          <a class="link-underline" href={membershipsURL}
            >{t("footer.membership")}</a
          >
          <a class="link-underline" href={boutiqueURL}>Boutique</a>
        </div>
        <div class="flex flex-col gap-3 lg:hidden">
          <div class="flex gap-2 items-center">
            <Phone class="h-4" />
            <a
              class="link-underline"
              href="tel:3054293283"
              target="_blank"
              rel="noopener noreferrer">305-429-3283</a
            >
          </div>
          <div class="flex gap-2 items-center">
            <Mail class="h-4" />
            <a
              class="link-underline"
              href="mailto:info@lairabalance.com"
              target="_blank"
              rel="noopener noreferrer">info@lairabalance.com</a
            >
          </div>
          <div class="flex gap-2 items-center">
            <Location class="h-4" />
            <a
              class="link-underline"
              href="https://maps.app.goo.gl/GboFq2hPMknt7N5G8"
              target="_blank"
              rel="noopener noreferrer">4314 NW 2nd Ave, Miami, FL33127</a
            >
          </div>
          <div class="flex gap-2 items-center">
            <Instagram class="h-4" />
            <a
              class="link-underline"
              href="https://www.instagram.com/lairabalance/"
              target="_blank"
              rel="noopener noreferrer">@lairabalance</a
            >
          </div>
          <div class="flex gap-2 items-center">
            <Clock class="h-4" />
            <span>7:00 AM - 7:30 PM</span>
          </div>
        </div>
      </div>
      <div class="flex-col gap-3 hidden lg:flex">
        <div class="flex gap-2 items-center">
          <Phone class="h-4" />
          <a
            class="link-underline"
            href="tel:3054293283"
            target="_blank"
            rel="noopener noreferrer">305-429-3283</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Mail class="h-4" />
          <a
            class="link-underline"
            href="mailto:info@lairabalance.com"
            target="_blank"
            rel="noopener noreferrer">info@lairabalance.com</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Location class="h-4" />
          <a
            class="link-underline"
            href="https://maps.app.goo.gl/GboFq2hPMknt7N5G8"
            target="_blank"
            rel="noopener noreferrer">4314 NW 2nd Ave, Miami, FL33127</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Instagram class="h-4" />
          <a
            class="link-underline"
            href="https://www.instagram.com/lairabalance/"
            target="_blank"
            rel="noopener noreferrer">@lairabalance</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Clock class="h-4" />
          <span>7:00 AM - 7:30 PM</span>
        </div>
      </div>
      <Form client:visible language={language} />
    </div>

    <Logo class="md:block hidden px-8 pb-10 w-full" />
    <Logo_sm class="md:hidden block pb-10 px-4 w-full" />
  </div>
</section>
