---
import Phone from "../assets/icons/phone.svg";
import Mail from "../assets/icons/mail.svg";
import Location from "../assets/icons/location.svg";
import Instagram from "../assets/icons/instagram.svg";
import Clock from "../assets/icons/clock.svg";
import Logo_sm from "../assets/footer/logo_sm.svg";
import Close_Menu from "../assets/icons/close_menu.svg";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
const lang = Astro.currentLocale || "es";
const homeURL = getRelativeLocaleUrl(lang, "/");
const aboutURL = getRelativeLocaleUrl(lang, "about");
const pricingURL = getRelativeLocaleUrl(lang, "pricing");
const eventsURL = getRelativeLocaleUrl(lang, "events");
const scheduleURL = getRelativeLocaleUrl(lang, "schedule");
const boutiqueURL = getRelativeLocaleUrl(lang, "/");
const contactURL = getRelativeLocaleUrl(lang, "contact");
---

<section
  data-lenis-prevent
  id="menu"
  class="md:hidden flex flex-col justify-between gap-12 pt-20 pb-12 fixed h-[100dvh] w-full text-secondary bg-pinkCustom px-10 lg:pl-20 transition-opacity duration-200 z-[200] pointer-events-none opacity-0 overflow-y-auto"
>
  <div class="flex flex-col gap-4">
    <h2
      class="thin-screen:text-4xl text-5xl md:text-6xl lg:text-8xl italic font-bold"
    >
      Menu
    </h2>
    <div class="flex flex-col w-full gap-3 items-start">
      <div class="flex flex-col w-full">
        <a href={homeURL} class="font-bold italic text-xl">Home</a>
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={aboutURL} class="font-bold italic text-xl">{t("menu.about")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={pricingURL} class="font-bold italic text-xl"
          >{t("menu.classes")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={eventsURL} class="font-bold italic text-xl"
          >{t("menu.events")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={scheduleURL} class="font-bold italic text-xl"
          >{t("menu.schedules")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={boutiqueURL} class="font-bold italic text-xl"
          >{t("menu.boutique")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
      <div class="flex flex-col w-full">
        <a href={contactURL} class="font-bold italic text-xl"
          >{t("menu.contact")}</a
        >
        <div class="w-full h-px bg-secondary"></div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <h2
      class="thin-screen:text-4xl text-5xl md:text-6xl lg:text-8xl italic font-bold"
    >
      {t("menu.contact-us")}!
    </h2>
    <div
      class="flex flex-col md-vertical:flex-col lg:flex-row justify-normal gap-7 lg:justify-start text-base"
    >
      <div class="flex flex-col gap-3 lg:hidden">
        <div class="flex gap-2 items-center">
          <Phone class="h-4 fill-secondary" />
          <a
            class="link-underline"
            href="tel:3054293283"
            target="_blank"
            rel="noopener noreferrer">305-429-3283</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Mail class="h-4" />
          <a
            class="link-underline"
            href="mailto:info@lairabalance.com"
            target="_blank"
            rel="noopener noreferrer">info@lairabalance.com</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Location class="h-4" />
          <a
            class="link-underline"
            href="https://maps.app.goo.gl/GboFq2hPMknt7N5G8"
            target="_blank"
            rel="noopener noreferrer">4314 NW 2nd Ave, Miami, FL33127</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Instagram class="h-4" />
          <a
            class="link-underline"
            href="https://www.instagram.com/lairabalance/"
            target="_blank"
            rel="noopener noreferrer">@lairabalance</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Clock class="h-4" />
          <span>7:00 AM - 7:30 PM</span>
        </div>
      </div>
      <div class="flex-col gap-3 w-2/5 hidden lg:flex">
        <div class="flex gap-2 items-center">
          <Phone class="h-4" />
          <a
            class="link-underline"
            href="tel:3054293283"
            target="_blank"
            rel="noopener noreferrer">305-429-3283</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Mail class="h-4" />
          <a
            class="link-underline"
            href="mailto:info@lairabalance.com"
            target="_blank"
            rel="noopener noreferrer">info@lairabalance.com</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Location class="h-4" />
          <a
            class="link-underline"
            href="https://maps.app.goo.gl/GboFq2hPMknt7N5G8"
            target="_blank"
            rel="noopener noreferrer">4314 NW 2nd Ave, Miami, FL33127</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Instagram class="h-4" />
          <a
            class="link-underline"
            href="https://www.instagram.com/lairabalance/"
            target="_blank"
            rel="noopener noreferrer">@lairabalance</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Clock class="h-4" />
          <span>7:00 AM - 7:30 PM</span>
        </div>
      </div>
    </div>
  </div>

  <Image src={Logo_sm} alt="Logo Laira Balance" class="w-full" />
  <button
    id="close-button"
    class="absolute right-8 top-4 text-secondary text-5xl"
    ><Close_Menu class="h-12 text-secondary" />
  </button>
</section>

<script is:inline>
  const menu1 = document.getElementById("menu");
  const close_button = document.getElementById("close-button");
  close_button.addEventListener("click", () => {
    menu1.classList.toggle("opacity-100");
    menu1.classList.toggle("pointer-events-auto");
    if (!menu1.classList.contains("opacity-100")) {
    }
  });
</script>
