---
const { title, subtitle, price, href, className } = Astro.props;
---

<div
  class={`flex flex-col lg:flex-row justify-between gap-4 items-start lg:items-center relative ${className}`}
>
  <div class="flex flex-col gap-2 text-primary">
    <h2 class="lg:text-2xl xl:text-3xl text-3xl font-bold italic">
      {title}<br class="md:hidden" /><span class="md:before:content-['-']"
        >{price}</span
      >
    </h2>
    <p class="lg:text-base md:white-space-pre-line">
      {subtitle}
    </p>
  </div>
  <a href={href} class="darkPink px-7 py-3 rounded-full text-lg">Reserve</a>
  <div class="md:hidden absolute -bottom-10 w-full bg-primary h-px"></div>
</div>
<style>
  a {
    @apply shadow-2xl;
  }
</style>
