---
import About from "../../components/About.astro";
import Classes from "../../components/Classes.astro";
import Cover from "../../components/Cover.astro";
import Layout from "../../layouts/Layout.astro";
import Class from "../../components/Class.astro";
import classes from "../../data/classes.json";
import yoga from "../../assets/classes-section/yoga.jpg";
import barre from "../../assets/classes-section/barre.jpg";
import ballet from "../../assets/classes-section/ballet.jpg";
import Events from "../../components/Events.astro";
import Memberships from "../../components/Memberships.astro";
import MembershipsData from "../../data/memberships-data/memberships.json";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale || "es";

const images = [yoga, barre, ballet];
---

<Layout
  title="Inicio"
  description="Descubre Laira Balance Studio, un espacio dedicado al bienestar y la elegancia. Explora nuestras clases de yoga, barre y ballet, eventos exclusivos y membresías diseñadas para tu equilibrio físico y mental. Vive con propósito y encuentra calma en cada movimiento."
>
  <main>
    <Cover />
    <About />
    <Classes />
    {
      classes.map((classItem, index) => (
        <Class
          key={index}
          id={classItem.className}
          imageSrc={images[index]}
          imageAlt={classItem.altImage.es}
          className={classItem.className}
          classText={classItem.classText.es}
          classHref={getRelativeLocaleUrl(lang, classItem.classHref)}
          align={index % 2 === 0 ? "left" : "right"}
        />
      ))
    }
    <Events />
    {
      MembershipsData.map((membership, index) => (
        <Memberships
          id={`memberships_${index + 1}`}
          key={index}
          title={membership.title.es}
          subtitle={membership.subtitle.es}
          button={membership.button.es}
          footer={membership.footer.es}
          image={membership.image}
        />
      ))
    }
  </main>
</Layout>
